{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            Информация о записи ({{ object.slug }})
                        </h3>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <td>Заголовок</td>
                                <td>{{ object.title }}</td>
                            </tr>
                            <tr>
                                <td>Содержимое</td>
                                <td>{{ object.content }}</td>
                            </tr>
                            <tr>
                                <td>Дата создания</td>
                                <td>{{ object.date_created }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer">
                        Количество просмотров {{ object.views_count }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img class="card-img-top"
                 src="{{ object.preview|mymedia }}"
                 alt="Card image cap">
            </div>
        </div>
    </div>
{% endblock %}